/* Styles go here */
<style type="text/css">

			.axis path,
			.axis line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}

			.axis text {
				font-family: Garamond;
				font-size: 13px;
			}

			.text text {
				font-family: Garamond;
			}
			ul {
			    list-style-type: none;
			    margin: 0;
			    padding: 0;
			}

			li {

					float: left;
			    display: inline;
					background-color: black;
			}
			a {
				color:white;
    padding: 8px;
    background-color: black;
		text-decoration: none;
}
/* selected link */
a:active {
    color: green;
}
.legendSize { fill: #E24335; }
	</style>
